<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images Générées</title>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Projet de génération de designs de vêtement de sport par IA</h1>
        </div>
        <p>Réalisé par César Regrettier et Mickaël Neroda, avril 2024</p>
    </header>
    <div class="container">
        <h1 id="titre-img">Images Générées</h1>
        <div class="image-container">
            <img src="static/images/generated_image_0.png" alt="Generated Image 1">
            <img src="static/images/generated_image_1.png" alt="Generated Image 2">
            <img src="static/images/generated_image_2.png" alt="Generated Image 3">
            <img src="static/images/generated_image_3.png" alt="Generated Image 4">
            <img src="static/images/generated_image_4.png" alt="Generated Image 5">
        </div>
    </div>
</body>
</html>